@import '../../styles/global.scss';

$blue-light: lighten($blue-primary-color, 10%);
$blue-dark: darken($blue-primary-color, 10%);

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes gradientAnimation {
    0% {
        background-position: 200% 0%;
    }
    100% {
        background-position: -200% 0%;
    }
}   


* {
    box-sizing: border-box;
  }
  
#root {
    display: flex;
    justify-content: center;
}

.wrapper__container{
    width: 960px;
    height: 1350px;
    background: $background-color;
    .header{
        @include flex-center;
        height: 160px;
        .header__logo{
            width: 60px;
            height: 60px;
            flex-shrink: 0;
        }
        .header__logo {
            animation: spin 10s linear infinite;
        }        
    }
    .main {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        column-gap: 20px;
        width: 100%;
        .main__tickets{
            width: auto;
        }
    }

    .shiny-progress .ant-progress-bg {
        background: linear-gradient(270deg, $blue-light, $blue-dark, $blue-light);
        background-size: 200% 200%;
        animation: gradientAnimation 3s infinite;
    }
    
}