@import '../../styles/global.scss';

.filter__item, 
.filter__item * {
    cursor: pointer;
}

.filter {
    width: 232px;
    height: 252px;
    flex-shrink: 0;
    border-radius: 6px;
    background: $white-primary-color;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.10);
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 20px;
    row-gap: 10px;
    .filter__title {
        @include typography-for-upper-headers;
    }
    .filter__list{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        .filter__item{
            width: 232px;
            height: 40px;
            flex-shrink: 0;
            @include flex-center;
            width: 100%;
            justify-content: flex-start;
        &:hover {
            background-color: darken($blue-hover-color, 5%);
            box-shadow: -20px 0 0 0 darken($blue-hover-color, 5%);
        }
        }
    }
}