@import './styles/global.scss';

@media (max-width: 740px) {
    .wrapper__container {
        width: 510px;
        padding-left: 50px;
        padding-right: auto;
        .header {
            width: 400px;
            height: 100px;
        }
        .main {
            display: flex;
            flex-direction: column;
            .filter {
                margin-bottom: 10px;
                width: 400px;
            }
            .main__tickets {
                width: 400px;
                .ant-space * {
                    width: 400px;
                }
            }
            .tabs {
                width: 400px;
            }
            .tickets__list {
                width: 400px;
                li {
                    .ticket {
                        width: 400px;
                    }
                }
            }
            .pagination {
                width: 400px;
            }
        }
    }
}

@media (max-width: 421px) {
    .wrapper__container {
        width: 510px;
        padding-left: 50%;
        padding-right: auto;
        .header {
            width: 400px;
            height: 100px;
        }
        .main {
            display: flex;
            flex-direction: column;
            .filter {
                margin-bottom: 10px;
                width: 400px;
            }
            .main__tickets {
                width: 400px;
                .ant-space * {
                    width: 400px;
                }
            }
            .tabs {
                width: 400px;
            }
            .tickets__list {
                width: 400px;
                li {
                    .ticket {
                        width: 400px;
                    }
                }
            }
            .pagination {
                width: 400px;
            }
        }
    }
}

